// Color declarations

$black: #000;
$white: #fff;
$green: #5cb85c;
$dark-green: #499349;
$off-white: #ddd;
$orange: #ffa500;
$dark-orange: #e59400;
$blue: #86C5DA;
$dark-blue: #6B9DAE;
$red: #FF4500;
$dark-red: #CC3700;
