body {
  color: $black;
  background-color: $white;
}

#tunnel-map {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  height: auto;
  overflow: auto;
  font-size: 14px;
}

.map-container{
  width: 100%;
  position: relative;
  z-index: 100;
  min-height: 100vh;
  min-width: 100vw;
  height: auto;
  height: auto;
  overflow: scroll;
  transition: all .5s ease;
}

.map-container > img {
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.direction-prompt-container {
  position: absolute;
  top: 55px;
  right: 20px;
  border-radius: 75px;
  background-color: $green;
  width: 75px;
  height: 75px;
  border: 2px solid $white;
  cursor: pointer;
  animation: none;
  transition: all .5s ease;
  opacity: 0;
  z-index: -1;
}

.direction-prompt {
  position: relative;
  z-index: 1000;
  color: $white;
  width: 75%;
  height: 75%;
  margin: 12.5% 0;
  padding: 10px;
  // border-radius: 100%;
  transition: all .5s ease;
  // background: url("./assets/img/arrow.png") no-repeat center center;
  // background-size: contain;
  // background-position: 50% 50%;
  // transform: rotate(120deg);
  // animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, .75);
}

.direction-prompt-container:hover {
  transform: scale(1.1);
  color: $dark-red;
  transition: transform .5s ease;
}

.direction-container {
  font-family: 'Anton', sans-serif !important;
  font-weight: 400;
  width: 100%;
  z-index: 1001;
  height: 100vh;
  background-color: $white;
  color: $black;
  position: fixed;
  bottom: -101%;
  left: 0;
  transform: translateY(0%);
  transition: all .25s ease;
}

.slide-container {
  transform: translateY(-101%);
  transition: all .5s ease;
}

.direction-form-wrapper {
  padding: 10px 0px;
  position: fixed;
  z-index: 1000;
  background-color: $white;
  border: 1px solid $black;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transition: all .5s ease;
}

select {
  display: block;
  text-align: center;
  font-family: 'Anton', sans-serif !important;
  font-weight: 400;
  font-size: 1.5em;
  width: 60%;
  margin: 10px 0px 10px 20%;
  text-transform: uppercase;
  border: 1px solid $black;
}

.route-container {
  position: absolute;
  background-color: rgba(255,255,255,.75);
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: all .5s ease;
  z-index: -1;
  opacity: 0;
  font-family: 'Anton', sans-serif !important;
  font-weight: 400;
  min-width: 100vh;
}

.route-container > img {
  min-width: 100%;
  width:  100vw;
  min-height: 100vw;
  height: 100%;
  transition: all .5s ease;
}

.close-route {
  position: fixed;
  cursor: pointer;
  top: 20px;
  left: 30px;
  font-size: 105px;
  transform: rotate(45deg) scale(1);
  color: $black;
  opacity: 0;
  z-index: -1;
  transition: all 1.5s ease;
  font-family: 'Anton', sans-serif !important;
  font-weight: 400;
}

.close-route:hover {
  color: red;
  transition: all .5s ease;
}

.show-route,
.show-direction {
  z-index: 10000;
  opacity: 1;
  transition: all 1.5s ease;
}

.error-container {
  width: 80%;
  margin-left: 10%;
  color: red;
  font-weight: bold;
  padding: 10px 0px;
  line-height: 2.25em;
}

.hide {
  display: none;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: 5;
  animation-timing-function: linear;
}


@keyframes pulse_animation {
  0% { transform: scale(1); }
  15% { transform: scale(1.1)}
  25% { transform: scale(1.2)}
  35% { transform: scale(1.15)}
  45% { transform: scale(1.2)}
  55% { transform: scale(1.1)}
  100% { transform: scale(1);}
}
