@media screen and (max-width: 1200px) {
  #tunnel-map {
    font-size: 12px;
  }
  .map-container {
    // transform: scale(1);
    transition: all .5s ease;
    // width:  auto;
    // height: 100vh;
    overflow: scroll;
  }

  .map-container > img {
    min-width: 100vw;
    width:  auto;
    min-height: 100vw;
    height: 100vh;
    overflow: scroll;
    transition: all .5s ease;
  }
  .direction-form-wrapper {
    margin: 200px 0% 0% 12.5%;
  }
}

@media screen and (max-width: 767px) {
  #tunnel-map {
   font-size: 8px;
  }
  .map-container {
    transform: scale(1);
    height: 100vh;
    overflow: scroll;
    transition: all .5s ease;
  }

  .map-container > img{
    transform: scale(1);
    min-width: 100vw;
    width:  auto;
    min-height: 100vw;
    height: 100vh;
    overflow: scroll;
    transition: all .5s ease;
  }

  .route-container {
    transform: scale(1);
    height: 100vh;
    // overflow: scroll;
    transition: all .5s ease;
  }

  .route-container > img {
    transform: scale(1);
    min-width: 100vw;
    width:  auto;
    min-height: 100vw;
    height: 100vh;
    // overflow: scroll;
    transition: all .5s ease;
  }

  .direction-form-wrapper {
    margin: 100px 0% 0% 12.5%;
  }

  .direction-prompt-container {
    width: 75px;
    height: 75px;
    bottom: 10px;
    right: 10px;
  }


  .close-direction,
  .close-route {
    top: -20px;
  }

  .error-container {
    text-align: left;
  }

}

@media screen and (max-height: 450px) {
  #tunnel-map {
   font-size: 8px;
  }

  .route-container {
    height: 100vw;
  }

  .route-container > img {
    height: 100vw;

  }
  .direction-form-wrapper {
    margin: 20px 0 0 12.5%;
  }
}
